h1 {
  text-align: center;
}

h2 {
  display: none;
}

#buttons {
  display: none;
  text-align: center;
}

#dice-roll {
  font-size: 50px;
  text-align: center;
}

#victory {
  display: none;
}

.background-blue {
  background-color: lightblue;
}

.background-red {
  background-color: red;
}